body{
    margin: 0%;
    padding: 0%;
    background-color: #dedfe0a1;
}
 /* <============== NAV =============> */
.head{
    padding:10px 10px;
    max-width:100%;
    height: 85px;
    background-color:#009432;
    font-family: 'Bevan', cursive;
    color: white;
    font-size:  1em;
    text-align: center;
    box-shadow: 0px 2px 10px grey;
    background-image: url(../image/navdesign.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.head p{
    
    margin-bottom:0px;
    text-shadow: -2px 2px #EA2027;
}
.head h2{
    text-shadow: -2px 2px #EA2027;
}

/* <===========  SIDE NAV ==============> */
.side{
    padding: 1em ;
    padding-top: 5em;
    height: 100%;
    max-width: 15%; 
    /* background-color: #535c68; */
    background-color:#cac000; 
    float:left;
    box-shadow:  2px 0px 10px grey;
} 

.side ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li a {
    font-family: 'Arvo', serif;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-align: center;
  }
  
  /* Change the link color on hover */
  li a:hover {
    border-radius: 5px;
    /* background-color: #2f3640; */
    background-color:#c9c54d;
    color: white;
  }
 /* <============= MAIN ==============> */
.main{
    padding: 2em 2em;
    margin-left:15%;
}
/* TOMTOM MAPS */
#map{
    min-width: 100%;
    min-height: 300px;
    width: 100%;
    height: 100%;
    border: 1px solid #3d3d3d;
}
.icon {
    background-size: cover;
    height: 30px;
    width: 30px;
}

    html {
        height:100%;
    }


.my-class{
    color:black;
}



   